<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Input Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    Judul<br>
    <input type="text" [(ngModel)]="Judul"/>
    <br><br>
    Isi Notes<br>
    <input type="text" [(ngModel)]="Isi"/>
    <br><br>
    Tanggal<br>
    <input type="date" [(ngModel)]="Tanggal"/>
    <br><br>
    Nilai Notes<br>
    <input type="number" [(ngModel)]="Nilai"/>
    <br><br>
    Gambar<br>
    <ion-button id="btnTakePic" (click)="TambahFoto()">Take Picture</ion-button><br>
    <!-- <ion-input type="string" id="namafile" value={{FileName}} [readonly]="isReadonly"></ion-input> -->
    <ion-button (click)="simpan()">Save</ion-button><br>
  </div>
</ion-content>
