<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detail Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    Judul<br>
    <input type="text" value={{Judul}} [(ngModel)]="Judul"/>
    <br><br>
    Isi Notes<br>
    <input type="text" value={{Isi}} [(ngModel)]="Isi"/>
    <br><br>
    Tanggal<br>
    <input type="date" [(ngModel)]="Tanggal"/>
    <br><br>
    Nilai Notes<br>
    <input type="number" [(ngModel)]="Nilai"/>
    <br><br>
    Gambar<br>
    <ion-button id="btnTakePic" (click)="TambahFoto()">Take Picture</ion-button><br>
    <ion-button (click)="update()">Update</ion-button>
    <ion-button (click)="delete()">Delete</ion-button><br>
</ion-content>
